<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="TECH related incidents reporting" />
<link rel="stylesheet" href="/styles/general.css" />
<link rel="stylesheet" href="/styles/navbar.css" />
<link rel="stylesheet" href="/styles/icons.css" />
<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/styles/dashboard.css" />
<link rel="stylesheet" href="/styles/sidebar.css" />
<link rel="stylesheet" href="/styles/form.css" />
<link rel="stylesheet" href="/styles/tabs.css" />
<link rel="stylesheet" href="/styles/table.css" />
<link rel="stylesheet" href="/styles/notifications.css" />
<link rel="stylesheet" href="/styles/modal.css" />
<link rel="stylesheet" href="/styles/queries.css" />
<link rel="shortcut icon" href="/img/jj-icon.jpg" type="image/x-icon" />
<script type="module" src="/js/theme/themeController.js"></script>
<script type="module" src="<%= scriptPath %>"></script>
<title>WhoCalledTech | <%= title %></title>
