<!-- NAVBAR -->
<nav class="nav">
  <div class="menu-btn">
    <svg class="icons">
      <use href="/img/icons.svg#icon-menu"></use>
    </svg>
  </div>
  <div class="scroll-btns">
    <button id="theme" class="theme tooltip">
      <svg class="icons fill-on-primary">
        <use></use>
      </svg>
      <span class="tooltiptext">Theme</span>
    </button>
  </div>
  <!-- <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label> -->
  <a href="/me" class="profile">
    <img <%= locals?.user?.profilePictureURI ?
    `src=${locals.user.profilePictureURI}` :
    `src=/img/default_profile_picture.jpg` %> />
  </a>
</nav>
