<!-- NAVBAR -->
<nav>
  <div class="menu-btn">
    <i class="bx bx-menu"></i>
  </div>
  <div class="scroll-btns">
    <button id="theme" class="theme tooltip">
      <svg class="icons">
        <use></use>
      </svg>
      <span class="tooltiptext">Theme</span>
    </button>
  </div>
  <!-- <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label> -->
  <a href="#" class="profile">
    <img src="<%= profilePicture %>" />
  </a>
</nav>
