<div class="head">
  <div class="app-logo">
    <img src="/img/jj-icon.jpg" alt="" />
  </div>
  <div class="app-details">
    <p class="title">Call Log App</p>
    <p class="name">WhoCalledTech</p>
  </div>
</div>
<nav>
  <div class="menu">
    <p class="title">Main</p>
    <ul>
      <li id="dashboard-link">
        <a href="/">
          <svg class="icons">
            <use href="/img/icons.svg#icon-dashboard"></use>
          </svg>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li id="reports-link">
        <a href="/reports">
          <svg class="icons">
            <use href="/img/icons.svg#icon-report"></use>
          </svg>
          <span class="text">Reports</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="menu">
    <p class="title">Admin</p>
    <ul>
      <li id="users-link">
        <a href="/users">
          <svg class="icons">
            <use href="/img/icons.svg#icon-group"></use>
          </svg>
          <span class="text">Users</span>
        </a>
      </li>
      <li id="stores-link">
        <a href="#">
          <svg class="icons">
            <use href="/img/icons.svg#icon-storefront"></use>
          </svg>
          <span class="text">Stores & DMs</span>
        </a>
      </li>
      <li id="incidents-link">
        <a href="#">
          <svg class="icons">
            <use href="/img/icons.svg#icon-software"></use>
          </svg>
          <span class="text">Incident Types</span>
        </a>
      </li>
      <li id="events-link">
        <a href="/events">
          <svg class="icons">
            <use href="/img/icons.svg#icon-reader"></use>
          </svg>
          <span class="text">Events</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="menu">
  <p class="title">Account</p>
  <ul>
    <li id="account-link">
      <a href="/account">
        <svg class="icons">
          <use href="/img/icons.svg#icon-user"></use>
        </svg>
        <span class="text">Account</span>
      </a>
    </li>
    <li>
      <button id="sign-out-sidebar">
        <svg class="icons icon-signout">
          <use href="/img/icons.svg#icon-signout"></use>
        </svg>
        <span class="text">Sign out</span>
      </button>
    </li>
  </ul>
</div>
