<div class="head">
  <div class="user-img">
    <img src="/img/profile.jpg" alt="" />
  </div>
  <div class="user-details">
    <p class="title">Web Dev</p>
    <p class="name">William Evora</p>
  </div>
</div>
<nav>
  <div class="menu">
    <p class="title">Main</p>
    <ul>
      <li id="dashboard-link">
        <a href="/">
          <i class="bx bxs-dashboard"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li id="reports-link">
        <a href="/reports">
          <i class="bx bx-food-menu"></i>
          <span class="text">Reports</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="menu">
    <p class="title">Admin</p>
    <ul>
      <li id="users-link">
        <a href="/users">
          <i class="bx bx-group"></i>
          <span class="text">Users</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="menu">
  <p class="title">Account</p>
  <ul>
    <li id="me-link">
      <a href="/me">
        <i class="bx bx-user"></i>
        <span class="text">Me</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-log-out bx-flip-horizontal"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</div>
