# Environment
NODE_ENV=

# Set to true if the web application will be hosted with iisnode (https://github.com/Azure/iisnode)
IISNode=false

# Local Server Port. If IISNode is set to true SERVER_PORT will not be used. You will to set the port in IIS Manager.
SERVER_PORT=

# Database Connection Details
DB_SERVER=
DB_NAME=
DB_PORT=

# Database Credentials. Authentication type "SQL" or "WINDOWS" only
DB_AUTH_TYPE=
DB_USERNAME=
DB_PASSWORD=

# Set to true if the SQL database is hosted in Azure cloud services. Set to false for regular SQL Server database
DB_AZURE=false

# ODBC driver name for SQL Server. To install ODBC Driver for SQL Server visit: https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16
DB_ODBC_DRIVER="ODBC Driver 17 for SQL Server"

# JSON Web Token
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

# Incoming Microsoft Teams Webhook URL
MS_TEAMS_WEBHOOK_URL=

# The Azure cloud instance in which the application is registered. Cloud instance string should end with a trailing slash
# For the main (or global) Azure cloud, set https://login.microsoftonline.com/
CLOUD_INSTANCE=

# If your application supports accounts in this organizational directory Tenant name or Tenant ID. For example,
# Tenant name: contoso.microsoft.com
# Tenant ID: 00aa00aa-bb11-cc22-dd33-44ee44ee44ee
TENANT_ID=

# The Application (client) ID of the application registered in Azure
# For example, aaaabbbb-0000-cccc-1111-dddd2222eeee
CLIENT_ID=

# Client secret generated from the app registration in Azure portal
CLIENT_SECRET=

# "http://localhost:3000/auth/redirect"
REDIRECT_URI=

# "http://localhost:3000"
POST_LOGOUT_REDIRECT_URI=

# The Microsoft Graph API cloud instance that your app will call. Graph API Endpoint string should end with a trailing slash
# For the main (global) Microsoft Graph API service, enter https://graph.microsoft.com/
GRAPH_API_ENDPOINT=

# Secret used to sign the Express session cookie. Choose a random string of characters to replace this string with, such as your client secret.
EXPRESS_SESSION_SECRET=