<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration file for an IIS hosting environment -->
<configuration> 
  	<system.webServer>
		<webSocket enabled="false" />
		<handlers>
			<add name="iisnode" path="/backend/run.cjs" verb="*" modules="iisnode" />
		</handlers>
  
		<rewrite>
			<rules>
				<rule name="nodejs">
					<match url="(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="/backend/run.cjs" />
				</rule>
			</rules>
		</rewrite>
		
	  
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
					<add segment="iisnode" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
    	<appSettings>
		<!-- Environment -->
		<add key="NODE_ENV" value="development" />
    
		<!-- Set to true if the web application will be hosted with iisnode (https://github.com/Azure/iisnode) -->
		<add key="IISNode" value="true" />

		<!-- Database Connection Details -->
		<add key="DB_SERVER" value="" />
		<add key="DB_NAME" value="" />
		<add key="DB_PORT" value="" />

		<!-- Database Credentials. Authentication type "SQL" or "WINDOWS" only -->
		<add key="DB_AUTH_TYPE" value="" />
		<add key="DB_USERNAME" value="" />
		<add key="DB_PASSWORD" value="" />

		<!-- Set to true if the SQL database is hosted in Azure cloud services. Set to false for regular SQL Server database -->
		<add key="DB_AZURE" value="false" />

		<!-- ODBC driver name for SQL Server. To install ODBC Driver for SQL Server visit: https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16 -->
		<add key="DB_ODBC_DRIVER" value="ODBC Driver 18 for SQL Server" />

		<!-- JSON Web Token -->
		<add key="JWT_SECRET" value="" />
		<add key="JWT_EXPIRES_IN" value="" />
		<add key="JWT_COOKIE_EXPIRES_IN" value="" />

		<!-- Incoming Microsoft Teams Webhook URL -->
		<add key="MS_TEAMS_WEBHOOK_URL" value="" />
	</appSettings>
 </configuration>
