<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration file for an IIS hosting environment -->
<configuration> 
  <system.webServer>
		<webSocket enabled="false" />
		<handlers>
			<add name="iisnode" path="/backend/run.cjs" verb="*" modules="iisnode" />
		</handlers>
  
		<rewrite>
			<rules>
				<rule name="nodejs">
					<match url="(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="/backend/run.cjs" />
				</rule>
			</rules>
		</rewrite>
		
	  
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules" />
					<add segment="iisnode" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
    <appSettings>
		<!-- Environment -->
		<add key="NODE_ENV" value="development" />
    
		<!-- Set to true if the web application will be hosted with iisnode (https://github.com/Azure/iisnode) -->
		<add key="IISNode" value="true" />

		<!-- Local Server Port. If IISNode is set to true SERVER_PORT will not be used. You will to set the port in IIS Manager. -->
		<add key="SERVER_PORT" value="5049" />

		<!-- Database Connection Details -->
		<add key="DB_SERVER" value="BRNSQLTST33\DBINST04" />
		<add key="DB_NAME" value="JJ_TECH_REPORTS" />
		<add key="DB_PORT" value="60004" />

		<!-- Database Credentials. Authentication type "SQL" or "WINDOWS" only -->
		<add key="DB_AUTH_TYPE" value="WINDOWS" />
		<add key="DB_USERNAME" value="" />
		<add key="DB_PASSWORD" value="" />

		<!-- Set to true if the SQL database is hosted in Azure cloud services. Set to false for regular SQL Server database -->
		<add key="DB_AZURE" value="false" />

		<!-- ODBC driver name for SQL Server. To install ODBC Driver for SQL Server visit: https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver16 -->
		<add key="DB_ODBC_DRIVER" value="ODBC Driver 18 for SQL Server" />

		<!-- JSON Web Token -->
		<add key="JWT_SECRET" value="bQ926*UaGdCVpz8kP&amp;uS?Rf!^NwhJ4M&lt;" />
		<add key="JWT_EXPIRES_IN" value="14d" />
		<add key="JWT_COOKIE_EXPIRES_IN" value="14" />

		<!-- Incoming Microsoft Teams Webhook URL -->
		<add key="MS_TEAMS_WEBHOOK_URL" value="https://prod-185.westeurope.logic.azure.com:443/workflows/7d1fd0b89cff47d78972c35886ccc02b/triggers/manual/paths/invoke?api-version=2016-06-01&amp;sp=%2Ftriggers%2Fmanual%2Frun&amp;sv=1.0&amp;sig=Ahw18bev8XPKCxCQDCx0ID-GLPURQ4Jwen9ct3Npt6s" />
	</appSettings>
 </configuration>