<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="styles/signin.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>WhoCalledTech.</h1>
        <p>Call Log App</p>
      </div>
    </header>
    <main class="main-signin">
      <!-- NOTIFICATIONS -->
      <div class="notifications"></div>

      <!-- SIGN IN SECTION -->
      <section class="left">
        <div class="container">
          <h1 class="heading">Welcome</h1>
          <p class="text">Please sign in into your account.</p>
          <form id="sign-in">
            <div class="form-grouping-signin">
              <label for="email">Email </label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
            <div class="form-grouping-signin">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Your Password"
                required
              />
            </div>
            <div class="form-btn">
              <button id="sign-in-btn" type="submit">Sign In</button>
            </div>
          </form>
        </div>
      </section>

      <!-- BACKGROUND IMAGE SECTION -->
      <section class="right"></section>
    </main>
  </body>
</html>
