/* 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

header {
  position: absolute;
  width: 100%;
  padding: 0 9.6rem;
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: spa;
}

.logo h1 {
  font-size: 2.4rem;
  color: var(--on-background-header);
  opacity: 0.8;
}

.logo p {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--on-background-content);
}

.main-auth {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-auth > .left {
  width: 100%;
  max-width: 80rem;
  padding: 0 9.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 75%;
  padding: 3.2rem;
  box-shadow: 0rem 0.5rem 4rem rgba(14, 14, 14, 0.15);
  align-self: center;
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--on-background-content);
  margin-bottom: 1.2rem;
}

.text {
  color: var(--on-background-content);
  margin-bottom: 2.4rem;
}

#auth {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-top: 0.1rem solid var(--fields-border-color);
  padding-top: 2.4rem;
}

#auth:first {
  margin-top: 1.2rem;
}

#auth .form-grouping-auth {
  position: relative;
  width: 100%;
  height: 6.4rem;
}

.form-grouping-auth input {
  margin-top: 0.4rem;

  font-size: 1.6rem;
  font-weight: 500;

  color: var(--fields-on-background);
  background-color: var(--fields-background-color);

  border: none;
  border-left: 0.4rem solid transparent;
  outline: none;
  transition: all 0.3s ease;
}

.form-grouping-auth input:hover {
  background-color: var(--fields-hover-color);
}

.form-grouping-auth input:focus {
  border-color: var(--on-background);
}

#auth .form-btn {
  margin-top: 2.4rem;
  align-self: center;
}

#auth .form-btn button {
  padding: 1.2rem 4.8rem;
  border: 0.2rem solid transparent;
  color: var(--fields-background-color);
  background-color: var(--fields-on-background);
  transition: all 0.3s ease;
}

#auth .form-btn button:hover {
  background-color: var(--fields-background-color);
  color: var(--fields-on-background);
  border: 0.2rem solid var(--fields-on-background);
}

#auth .form-btn button:active {
  scale: 0.95;
}

.left #theme {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

.main-auth > .right {
  flex: 1;
  min-width: 64rem;
  flex-shrink: 0;
  background: url("../img/showroow_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1408px) {
  .main-auth > .left {
    padding: 0 4.8rem;
    max-width: 75%;
  }
}

@media screen and (max-width: 1152px) {
  .main-auth > .left {
    padding: 0 9.6rem;
    max-width: 75%;
  }

  .container {
    width: 100%;
  }

  .form-grouping-auth input {
    font-size: 1.2rem;
  }

  .main-auth > .right {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .main-auth > .left {
    padding: 0 4.8rem;
    max-width: 100%;
  }
}
