.content {
  position: relative;
  left: 24rem;
  width: calc(100% - 24rem);

  background: var(--on-background-low-contrast);
  transition: all 0.3s ease;
}

.content nav {
  height: 5.6rem;
  background-color: var(--background-primary-color);
  padding: 0 2.4rem 0 0;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content nav a {
  color: var(--on-background-header);
}

.content nav .menu-btn {
  margin-right: auto;
}

.bx {
  font-size: 2rem;
}

.content nav .menu-btn .bx.bx-menu {
  width: 3.2rem;
  height: 3.2rem;
  /* border-radius: 0.8rem; */

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--on-background-header);
  background-color: var(--background-primary-color);

  cursor: pointer;
}

.content nav .profile img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.content nav .theme-toggle {
  display: block;
  min-width: 4.8rem;
  height: 2.4rem;
  background: var(--primary-color);
  cursor: pointer;
  position: relative;
  border-radius: 2.4rem;
}

.content nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  bottom: 0.2rem;
  width: calc(2.4rem - 0.4rem);
  background: var(--on-primary);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.content nav #theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - (2.4rem - 0.4rem) - 0.2rem);
}

.content main {
  width: 100%;
  padding: 3.2rem 2.4rem;
  /* max-height: calc(100vh - 6.4rem); */
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.content main .header .left h1 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: var(--on-background-header);
}

.content main .header .report {
  height: 3.2rem;
  padding: 0 1.6rem;
  border-radius: 3.2rem;
  background: var(--primary-color);
  color: var(--on-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-weight: 500;
}

/*
===============================================
DASHBOARD
===============================================
 */

.content main .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.content main .insights li {
  padding: 2.4rem;
  background: var(--background-primary-color);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.content main .insights li .bx {
  width: 8rem;
  height: 8rem;
  border-radius: 0.4rem;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
  background: var(--info-background-color);
  color: var(--info-on-background);
}

.content main .insights li:nth-child(2) .bx {
  background: var(--warning-background-color);
  color: var(--warning-on-background);
}

.content main .insights li:nth-child(3) .bx {
  background: var(--good-background-color);
  color: var(--good-on-background);
}

.content main .insights li:nth-child(4) .bx {
  background: var(--misc-background-color);
  color: var(--misc-on-background);
}

.content main .insights li .info h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.content main .bottom-data {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-top: 2.4rem;
  width: 100%;
}

.content main .bottom-data > div {
  border-radius: 0.4rem;
  background: var(--background-primary-color);
  padding: 2.4rem;
  overflow-x: auto;
  flex-grow: 1;
}

.content main .bottom-data .analytics-grouping {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

.content main .bottom-data .header {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.content main .bottom-data .header h3 {
  margin-right: auto;
  /* font-size: 2.4rem; */
  font-weight: 600;
}

.content main .bottom-data .header .bx {
  cursor: pointer;
}

.content main .bottom-data .reports {
  flex-grow: 1;
  flex-basis: 50rem;
}

.content main .bottom-data .reports table {
  width: 100%;
  border-collapse: collapse;
}

.content main .bottom-data .reports table th {
  padding-bottom: 1.2rem;
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 0.1rem solid var(--on-background-low-contrast);
}

.content main .bottom-data .reports table td {
  padding: 1.6rem 0;
}

.content main .bottom-data .reports table tr td:first-child {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-left: 0.8rem;
}

.content main .bottom-data .reports table td img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.content main .bottom-data .reports table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.content main .bottom-data .reports table tbody tr:hover {
  background: var(--on-background-low-contrast);
}

.content main .bottom-data .reports table tr td .status {
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  color: var(--light);
  border-radius: 0.2rem;
  font-weight: 700;
}

.content main .bottom-data .reports table tr td .status.completed {
  color: var(--good-on-background);
  background: var(--good-background-color);
}

.content main .bottom-data .reports table tr td .status.inprogress {
  color: var(--warning-on-background);
  background: var(--warning-background-color);
}

.content main .bottom-data .analytics {
  flex-grow: 1;
  flex-basis: 6.4rem;
}

.content main .bottom-data .analytics .list {
  width: 100%;
}

.content main .bottom-data .analytics li {
  margin-bottom: 1.6rem;
  background: var(--on-background-low-contrast);
  padding: 1.6rem 1.2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content main .bottom-data .analytics .list li .list-title {
  display: flex;
  align-items: center;
}

.content main .bottom-data .analytics .list li .list-title img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.content main .bottom-data .analytics .list li .store-title,
.content main .bottom-data .analytics .list li .reports-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.content main .bottom-data .analytics .list li .list-title p {
  margin-left: 0.8rem;
}

.content main .bottom-data .analytics .list li .bx {
  cursor: pointer;
}

.content main .bottom-data .analytics .list li.user {
  border-left: 1.2rem solid var(--on-background);
}

.content main .bottom-data .analytics .list li.type {
  border-left: 1.2rem solid var(--info-on-background);
}

.content main .bottom-data .analytics .list li.store {
  border-left: 1.2rem solid var(--primary-color);
}

.content main .bottom-data .analytics .list li:last-child {
  margin-bottom: 0;
}
