/*
=============================================================================
DASHBOARD - Used in:
=============================================================================
*/

.content .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.content .insights li {
  padding: 2.4rem;
  background: var(--background-primary-color);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.content .insights li .icon-ctn {
  width: 8rem;
  height: 8rem;
  border-radius: 0.4rem;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .insights li .icon-ctn .icons {
  width: 3.2rem;
  height: 3.2rem;
}

.content .insights li:nth-child(1) .icon-ctn .icons {
  fill: var(--info-on-background);
}
.content .insights li:nth-child(2) .icon-ctn .icons {
  fill: var(--warning-on-background);
}
.content .insights li:nth-child(3) .icon-ctn .icons {
  fill: var(--good-on-background);
}
.content .insights li:nth-child(4) .icon-ctn .icons {
  fill: var(--cyan-on-background);
}

.content .insights li:nth-child(5) .icon-ctn .icons {
  fill: var(--misc-on-background);
}

.content .insights li:nth-child(1) .icon-ctn {
  background: var(--info-background-color);
}

.content .insights li:nth-child(2) .icon-ctn {
  background: var(--warning-background-color);
}

.content .insights li:nth-child(3) .icon-ctn {
  background: var(--good-background-color);
}

.content .insights li:nth-child(4) .icon-ctn {
  background: var(--cyan-background-color);
}

.content .insights li:nth-child(5) .icon-ctn {
  background: var(--misc-background-color);
}

.content .insights li .info h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.content .analytics-ctn {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  margin-top: 2.4rem;
  width: 100%;
}

.content .analytics-ctn > div {
  border-radius: 0.4rem;
  background: var(--background-primary-color);
  padding: 2.4rem;
  overflow-x: auto;
  flex-grow: 1;
}

.content .analytics-ctn .analytics-grouping {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
}

.content .analytics-ctn .sub-header {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.content .analytics-ctn .sub-header h3 {
  margin-right: auto;
  /* font-size: 2.4rem; */
  font-weight: 600;
}

.content .analytics-ctn .sub-header .selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.content .analytics-ctn .reports {
  flex-grow: 1;
  flex-basis: 50rem;
}

.content .analytics-ctn .reports table {
  width: 100%;
  border-collapse: collapse;
}

.content .analytics-ctn .reports table th {
  padding-bottom: 1.2rem;
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 0.1rem solid var(--on-background-low-contrast);
}

.content .analytics-ctn .reports table td {
  padding: 1.6rem 0;
}

.content .analytics-ctn .reports table tr td:first-child {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-left: 0.8rem;
}

.content .analytics-ctn .reports table td img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.content .analytics-ctn .reports table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.content .analytics-ctn .reports table tbody tr:hover {
  background: var(--on-background-low-contrast);
}

.content .analytics-ctn .reports table tr td .status {
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  color: var(--light);
  border-radius: 0.2rem;
  font-weight: 700;
}

.content .analytics-ctn .reports table tr td .status.completed {
  color: var(--good-on-background);
  background: var(--good-background-color);
}

.content .analytics-ctn .reports table tr td .status.inprogress {
  color: var(--warning-on-background);
  background: var(--warning-background-color);
}

.content .analytics-ctn .analytics {
  position: relative;
  flex-grow: 1;
  flex-basis: 6.4rem;
}

.content .analytics-ctn .analytics .list {
  width: 100%;
}

.content .analytics-ctn .analytics li {
  margin-bottom: 1.6rem;
  background: var(--on-background-low-contrast);
  padding: 1.6rem 1.2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .analytics-ctn .analytics .list li .list-title {
  display: flex;
  align-items: center;
}

.content .analytics-ctn .analytics .list li .list-title img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;
}

.content .analytics-ctn .analytics .list li .store-title,
.content .analytics-ctn .analytics .list li .reports-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.content .analytics-ctn .analytics .list li .list-title p {
  margin-left: 0.8rem;
}

.content .analytics-ctn .analytics .list li.user {
  border-left: 1.2rem solid var(--on-background);
}

.content .analytics-ctn .analytics .list li.type {
  border-left: 1.2rem solid var(--info-on-background);
}

.content .analytics-ctn .analytics .list li.store {
  border-left: 1.2rem solid var(--primary-color);
}

.content .analytics-ctn .analytics .list li:last-child {
  margin-bottom: 0;
}
