/*
=============================================================================
FORM - Used in:
Parent View: formView.js
Child Views: reportFormView.js, userFormView.js & accountFormView.js
=============================================================================
*/

input[type="date"],
input[type="time"] {
  cursor: text;
}

input[class="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  transform: translateX(-550%);
}

input:disabled,
textarea:disabled,
select:disabled {
  background-color: var(--fields-disabled-background-color);
  border: 0.1rem dotted var(--fields-disabled-border-color);
  cursor: not-allowed;
  opacity: 0.75;
}

input:required + label:after,
select:required + label:after,
textarea:required + label:after {
  color: var(--fields-required-color);
  content: " *";
  font-weight: bold;
  display: inline;
}

input[type="checkbox"]:disabled + span.slider {
  background-color: var(--fields-disabled-on-background);
}

input[type="checkbox"]:disabled + span.slider,
input[type="checkbox"]:disabled + span::before {
  cursor: not-allowed;
  opacity: 0.5;
}

.form-meta-data {
  display: flex;
  justify-content: space-between;
}

.data-id {
  margin: -1rem 0;
  color: var(--on-background-content);
  font-size: 1.6rem;
}

.report-tags {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: -1.8rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.tag {
  border-radius: 0.2rem;
  padding: 0.8rem;
}

.user-status,
.report-procedural {
  color: var(--attention-on-background);
  background-color: var(--attention-background-color);
}

.user-role,
.report-oncall {
  color: var(--info-on-background);
  background-color: var(--info-background-color);
}

.report-readonly {
  color: var(--misc-on-background);
  background-color: var(--misc-background-color);
}

.form {
  width: 100%;
  /* padding: 0rem 4.8rem; */
  gap: 3.6rem;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form,
.form-grouping,
.form-grouping-col {
  display: flex;
  flex-direction: column;
}

.now-btn {
  position: relative;
}

.now-btn .form-now-btn {
  position: absolute;
  right: 1%;
  bottom: 3%;
  z-index: 1;
}

.form-grouping {
  height: auto;
  padding: 1.6rem;

  background-color: var(--accordion-background-color);

  border: 0 solid var(--primary-color);
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.5rem 1.2rem rgba(3, 62, 138, 0.2);

  transition: box-shadow 0.4s;
}

.form-grouping:hover {
  box-shadow: 0.1rem 0.5rem 2rem rgba(3, 62, 138, 0.4);
}

.form-grouping-col {
  position: relative;
  justify-content: center;
  gap: 0.8rem;
}

.form-grouping-col .max-length {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
}

.max-length {
  color: var(--on-background-content);
}

.form-grouping-accordion,
.form-grouping-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-grouping-accordion {
  width: 100%;
  padding: 0;

  background-color: var(--accordion-background-color);
  border: none;
  border-bottom: 0.2rem solid var(--on-background);

  transition: 0.3s;
  cursor: pointer;
}

.form-grouping-accordion button {
  transition: all 0s;
}

.form-grouping-accordion:hover {
  color: var(--accordion-on-background);
  border-bottom: 0.2rem solid var(--accordion-on-background);
}

.form-grouping-accordion div {
  display: inherit;
  gap: 0.8rem;
}

.form-grouping-accordion button {
  padding: 0;
}

.form-grouping-accordion-header {
  align-items: center;
  justify-content: center;
}

.form-grouping-content {
  display: flex;
  flex-direction: inherit;
  gap: 4rem;
  padding: 0.4rem;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s linear, opacity 0.4s ease-out;

  visibility: visible;
}

.form-profile-picture {
  align-self: center;
  justify-self: center;
  width: 9.6rem;
  height: 9.6rem;
  object-fit: cover;
  border-radius: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 12.8rem;
  height: 4.8rem;
}

.switch-small {
  width: 4.8rem;
  height: 2.4rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border: 0.1rem solid var(--fields-border-color-alt);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--checkboxes-unchecked-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  filter: brightness(105%);
}

.slider:before {
  position: absolute;
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  transform: translateX(25%) translateY(22.5%);
  background-color: var(--on-primary);
  transition: 0.4s;
}

.slider-small:before {
  width: 1.2rem;
  height: 1.6rem;
  transform: translateX(25%) translateY(25%);
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:hover {
  filter: brightness(135%);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(268%) translateY(22.5%);
}

.form-action-btns button:first-child,
.form-action-btns button:nth-child(2),
.form-action-btns button:last-child {
  margin-top: 0.4rem;
}

.form-action-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.form-paste-btn,
.form-copy-btn,
.form-new-btn,
.form-now-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 1.2rem 2.4rem;

  color: var(--on-primary);
  background: var(--primary-color);

  border-radius: 0;
  transition: all 0.4s;
}

.form-now-btn {
  width: 12.8rem;
  height: 4rem;
}

.form-paste-btn:hover,
.form-copy-btn:hover,
.form-new-btn:hover,
.form-now-btn:hover {
  filter: brightness(135%);
}

.form-paste-btn:active,
.form-copy-btn:active,
.form-new-btn:active,
.form-now-btn:active {
  scale: 0.9;
}

.form-copy-btn:disabled,
.form-paste-btn:disabled,
.form-new-btn:disabled,
.form-now-btn:disabled,
.form-submit-btn:disabled,
.form-reset-password-btn:disabled,
.form-hard-delete-btn:disabled,
.form-teams-btn:disabled,
.form-paste-btn:disabled .icons,
.form-copy-btn:disabled .icons,
.form-new-btn:disabled .icons,
.form-now-btn:disabled .icons,
.form-submit-btn:disabled .icons,
.form-reset-password-btn .icons,
.form-hard-delete-btn:disabled .icons,
.form-teams-btn:disabled .icons {
  scale: 1;
  background-color: var(--buttons-disabled-background-color);
  color: var(--buttons-disabled-on-background);
  fill: var(--buttons-disabled-on-background);
  cursor: not-allowed;
}

.form-copy-btn:disabled:hover,
.form-paste-btn:disabled:hover,
.form-new-btn:disabled:hover,
.form-now-btn:disabled:hover {
  filter: brightness(100%);
}

.form-copy-btn:disabled:active,
.form-paste-btn:disabled:active,
.form-new-btn:disabled:active,
.form-now-btn:disabled:active,
.form-submit-btn:disabled:active,
.form-reset-password-btn:disabled:active,
.form-hard-delete-btn:disabled:active,
.form-teams-btn:disabled:active {
  scale: 1;
}

.form-buttons {
  font-size: 2.4rem;
  justify-content: center;
}

.form-submit-btn,
.form-reset-password-btn,
.form-hard-delete-btn,
.form-teams-btn {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;
  padding: 2.4rem;

  color: var(--on-primary);
  background-color: var(--primary-color);
  font-weight: 700;

  /* transition: all 0.3s; */
  cursor: pointer;
}

.form-teams-btn {
  position: relative;
}

.form-submit-btn:hover,
.form-reset-password-btn:hover,
.form-hard-delete-btn:hover,
.form-teams-btn:hover {
  filter: brightness(135%);
}

.form-submit-btn:active,
.form-reset-password-btn:active,
.form-hard-delete-btn:active,
.form-teams-btn:active {
  scale: 0.95;
}

.form-submit-btn:disabled:hover,
.form-reset-password-btn:disabled:hover,
.form-hard-delete-btn:disabled:hover,
.form-teams-btn:disabled:hover {
  filter: brightness(100%);
}

.form-teams-btn .status-success,
.form-teams-btn .status-error {
  position: absolute;
  top: 0%;
  left: 100%;

  width: 2.4rem;
  height: 2.4rem;

  color: var(--default-on-background);
  border-radius: 10rem;

  transform: translate(-50%, -50%);
}

.form-teams-btn .status-success,
.form-teams-btn:disabled .status-success {
  background-color: var(--good-on-background);
  color: var(--default-on-background);
  fill: var(--default-on-background);
}

.form-teams-btn .status-error,
.form-teams-btn:disabled .status-error {
  background-color: var(--attention-background-color-alt);
  color: var(--default-on-background);
  fill: var(--default-on-background);
}
