/*
=============================================================================
FORM - Used in:
Parent View: formView.js
Child Views: reportFormView.js, userFormView.js & accountFormView.js
=============================================================================
*/

input[type="date"],
input[type="time"] {
  cursor: text;
}

input[class="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  transform: translateX(-550%);
}

input:disabled,
textarea:disabled,
select:disabled {
  background-color: var(--fields-disabled-background-color);
  border: 0.1rem dotted var(--fields-disabled-border-color);
  cursor: not-allowed;
  opacity: 0.75;
}

input:required + label:after,
select:required + label:after,
textarea:required + label:after {
  color: var(--fields-required-color);
  content: " *";
  font-weight: bold;
  display: inline;
}

input[type="checkbox"]:disabled + span.slider {
  background-color: var(--fields-disabled-on-background);
}

input[type="checkbox"]:disabled + span.slider,
input[type="checkbox"]:disabled + span::before {
  cursor: not-allowed;
  opacity: 0.5;
}

.form-meta-data {
  display: flex;
  justify-content: space-between;
}

.data-id {
  margin: -1rem 0;
  color: var(--on-background-content);
  font-size: 1.6rem;
}

.report-tags {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: -1.8rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.tag {
  border-radius: 0.2rem;
  padding: 0.8rem;
}

.user-status,
.report-procedural,
.report-deleted {
  color: var(--attention-on-background);
  background-color: var(--attention-background-color);
}

.user-role,
.report-oncall {
  color: var(--info-on-background);
  background-color: var(--info-background-color);
}

.report-readonly {
  color: var(--misc-on-background);
  background-color: var(--misc-background-color);
}

.form {
  width: 100%;
  /* padding: 0rem 4.8rem; */
  gap: 3.6rem;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form,
.form-grouping,
.form-grouping-col {
  display: flex;
  flex-direction: column;
}

.now-btn {
  position: relative;
}

.now-btn .form-btn.now {
  position: absolute;
  right: 0;
  bottom: 0.034rem;
  z-index: 1;
}

.form-grouping {
  height: auto;
  padding: 1.6rem;

  background-color: var(--accordion-background-color);

  border: 0 solid var(--primary-color);
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.5rem 1.2rem rgba(3, 62, 138, 0.2);

  transition: box-shadow 0.4s;
}

.form-grouping:hover {
  box-shadow: 0.1rem 0.5rem 2rem rgba(3, 62, 138, 0.4);
}

.form-grouping-col {
  position: relative;
  justify-content: center;
  gap: 0.8rem;
}

.form-grouping-col .max-length {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
}

.max-length {
  color: var(--on-background-content);
}

.form-grouping-accordion,
.form-grouping-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-grouping-accordion {
  width: 100%;
  padding: 0;

  background-color: var(--accordion-background-color);
  border: none;
  border-bottom: 0.2rem solid var(--on-background);

  cursor: pointer;
}

.form-grouping-accordion button {
  transition: all 0s;
}

.form-grouping-accordion:hover {
  color: var(--accordion-on-background);
  border-bottom: 0.2rem solid var(--accordion-on-background);
}

.form-grouping-accordion div {
  display: inherit;
  gap: 0.8rem;
}

.form-grouping-accordion button {
  padding: 0;
}

.form-grouping-accordion-header {
  align-items: center;
  justify-content: center;
}

.form-grouping-content {
  display: flex;
  flex-direction: inherit;
  gap: 4rem;
  padding: 0.4rem;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s linear, opacity 0.4s ease-out;

  visibility: visible;
  overflow: unset;
}

.form-profile-picture {
  align-self: center;
  justify-self: center;
  width: 9.6rem;
  height: 9.6rem;
  object-fit: cover;
  border-radius: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 12.8rem;
  height: 4.8rem;
}

.switch-small {
  width: 4.8rem;
  height: 2.4rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border: 0.1rem solid var(--fields-border-color-alt);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--checkboxes-unchecked-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  filter: brightness(105%);
}

.slider:before {
  position: absolute;
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  transform: translateX(25%) translateY(22.5%);
  background-color: var(--on-primary);
  transition: 0.4s;
}

.slider-small:before {
  width: 1.2rem;
  height: 1.6rem;
  transform: translateX(25%) translateY(25%);
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:hover {
  filter: brightness(135%);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(268%) translateY(22.5%);
}

.form-action-btns button:first-child,
.form-action-btns button:nth-child(2),
.form-action-btns button:last-child {
  margin-top: 0.4rem;
}

.form-action-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.tabs-forms .form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 1.2rem 2.4rem;

  color: var(--on-primary);
  background: var(--primary-color);

  border-radius: 0;
  transition: all 0.4s;
}

.form-btn.submit,
.form-btn.ms-teams,
.form-btn.reset-password {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;
  padding: 2.4rem;

  color: var(--on-primary);
  background-color: var(--primary-color);
  font-weight: 700;

  /* transition: all 0.3s; */
  cursor: pointer;
}

.form-btn.now {
  width: 12.8rem;
  height: 4rem;
}

.form-btn.submit,
.form-btn.ms-teams,
.form-btn.reset-password {
  position: relative;
}

.form-btn:hover {
  filter: brightness(135%);
}

.form-btn:active {
  scale: 0.95;
}

.form-btn.submit:disabled,
.form-btn.ms-teams:disabled,
.form-btn.reset-password:disabled,
.form-btn:disabled,
.form-btn.submit:disabled .icons,
.form-btn.ms-teams:disabled .icons,
.form-btn.reset-password:disabled .icons,
.form-btn:disabled .icons {
  scale: 1;
  background-color: var(--buttons-disabled-background-color);
  color: var(--buttons-disabled-on-background);
  fill: var(--buttons-disabled-on-background);
  cursor: not-allowed;
}

.form-btn:disabled:hover,
.form-btn:disabled:active {
  filter: brightness(100%);
}

.form-buttons {
  font-size: 2.4rem;
  justify-content: center;
}

.form-btn .status-success,
.form-btn .status-error,
.form-btn .status-warning {
  position: absolute;
  top: 0%;
  left: 100%;

  width: 2.4rem;
  height: 2.4rem;

  color: var(--default-on-background);
  border-radius: 10rem;

  transform: translate(-50%, -50%);
}

.form-btn .icons.status-success,
.form-btn:disabled .icons.status-success {
  background-color: var(--good-on-background);
  color: var(--default-on-background);
  fill: var(--default-on-background);
}

.form-btn .icons.status-error,
.form-btn:disabled .icons.status-error {
  background-color: var(--attention-background-color-alt);
  color: var(--default-on-background);
  fill: var(--default-on-background);
}

.form-btn .icons.status-warning,
.form-btn:disabled .icons.status-warning {
  background-color: var(--warning-background-color-alt);
  color: var(--default-on-background);
  fill: var(--default-on-background);
  padding: 0.2rem;
}

.multiselect-dropdown {
  display: inline-block;
  position: relative;

  padding: 0.9rem;

  border-radius: 0.2rem;
  background-color: var(--fields-background-color);

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.6rem 1.2rem;
}

.multiselect-dropdown span.optext,
.multiselect-dropdown span.placeholder {
  margin-right: 0.4em;
  margin-bottom: 0.2rem;
  padding: 0.1rem 0;
  border-radius: 0.4rem;
  display: inline-block;
}

.multiselect-dropdown span.optext {
  color: #000;
  background-color: var(--checkboxes-unchecked-background-color);
  padding: 0.1rem 1rem;
}

.multiselect-dropdown span.optext .optdel {
  float: right;
  margin: 0 -0.6rem 0.1rem 0.5rem;
  font-size: 0.7em;
  margin-top: 0.2rem;
  cursor: pointer;
  color: #000;
}

.multiselect-dropdown span.optext .optdel:hover {
  color: var(--attention-background-color-alt);
}

.multiselect-dropdown span.placeholder {
  color: var(--fields-placeholder);
}

.multiselect-dropdown-list-wrapper {
  z-index: 100;
  padding: 0.2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--fields-border-color);
  display: none;
  margin: -0.1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-primary-color);
}

.multiselect-dropdown.disabled,
.multiselect-dropdown.disabled:hover {
  background-color: var(--fields-disabled-background-color);
  opacity: 0.75;
  cursor: not-allowed;
}

.multiselect-dropdown:hover {
  background-color: var(--fields-hover-color);
}

.multiselect-dropdown-list-wrapper .multiselect-dropdown-search {
  margin-bottom: 5px;
}

.multiselect-dropdown-list {
  padding: 0.2rem;
  height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiselect-dropdown-list::-webkit-scrollbar {
  width: 0.8rem;
}

.multiselect-dropdown-list::-webkit-scrollbar-thumb {
  background-color: #bec4ca;
  border-radius: 0.4rem;
}

.multiselect-dropdown-list div {
  padding: 5px;
}

.multiselect-dropdown-list input {
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.35em;
}

.multiselect-dropdown-list div.checked {
}

.multiselect-dropdown-list div:hover {
  background-color: var(--fields-hover-color);
}

.multiselect-dropdown span.maxselected {
  width: 100%;
}

.multiselect-dropdown-all-selector {
  border-bottom: solid 0.1rem #999;
}
