.nav {
  position: sticky;
  left: 24rem;
  top: 0;

  height: 5.6rem;
  width: calc(100% - 24rem);

  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 0 2.4rem 0 0;

  background-color: var(--background-primary-color);
  z-index: 1000;
  transition: all 0.3s ease;
}

.nav a {
  color: var(--on-background-header);
  display: flex;
}

.nav .menu-btn {
  margin-left: 1.2rem;
  margin-right: auto;
}

.nav .menu-btn .icons {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--on-background-header);
  background-color: var(--background-primary-color);

  cursor: pointer;
}

.nav .user-info-ctn {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-end;
  font-size: 1.2rem;
}

.nav .user-info-ctn .role {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--on-background-header);
}

.nav .user-info-ctn .full-name {
  color: var(--on-background-content);
}

.nav .profile-picture-ctn .profile img {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
  border-radius: 6.4rem;
}

.navbar-btns {
  bottom: 1%;
  left: 8.8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
  color: var(--on-primary);

  z-index: 1;
}

.navbar-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
}
.navbar-btns .tooltip .tooltiptext {
  width: 6rem;
}
