.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 24rem;
  height: 100%;
  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  /* overflow-x: hidden; */
  background-color: var(--background-primary-color);
  transition: all 0.3s ease;
  z-index: 2000;
}

.sidebar a {
  text-decoration: none;
}
.sidebar li {
  list-style: none;
}

.sidebar.active {
  width: 8.8rem;
}

.sidebar.active .head,
.sidebar.active .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar.active .menu .title {
  text-align: center;
}

.sidebar.active .app-details,
.sidebar.active .menu li a .arrow {
  display: none;
}

.sidebar.active .menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.active .menu > ul > li > a .text {
  position: absolute;
  left: 4.8rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.2rem;
  border-radius: 0.2rem;
  color: var(--fields-on-background);
  background-color: var(--fields-background-color);
  opacity: 0;
  visibility: hidden;
  /* transition: all 0.3s ease; */
}

.sidebar.active .menu > ul > li > a .text::after {
  content: "";
  position: absolute;
  left: -0.4rem;
  top: 20%;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.2rem;
  background-color: var(--fields-background-color);
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar.active .menu > ul > li > a:hover .text {
  left: 8rem;
  opacity: 1;
  visibility: visible;
}

.sidebar.active .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 4.8rem;
  width: 16rem;
  padding: 0.6rem 1.2rem;
  border: 0.1rem solid var(--fields-border-color);
  background-color: var(--background-primary-color);
  box-shadow: 0 0.12rem 0.8rem rgb(0, 0, 0, 0.1);
}

.sidebar.active ~ .main,
.sidebar.active ~ .nav {
  width: calc(100% - 8.8rem);
  left: 8.8rem;
}

.menu-btn:hover i {
  color: var(--fields-border-color-alt);
}

.menu-btn i {
  transition: all 0.3s ease;
}

.sidebar .head {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 0.1rem solid var(--fields-border-color);
}

.app-logo {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.app-logo img {
  width: 100%;
  object-fit: cover;
}

.app-details .title,
.menu .title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--on-background-content);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}

.app-details .name {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--on-background-header);
}

.sidebar nav {
  flex: 1;
}

.menu ul li {
  position: relative;
  margin-bottom: 0.4rem;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--on-background-content);
  padding: 1.2rem 1.2rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease;
}

.menu ul li a .text {
  font-size: 1.2rem;
}

.menu ul li > a:hover,
.menu ul li.active > a {
  color: var(--on-background);
  background-color: var(--on-background-low-contrast-alt);
}

.menu ul li > a:hover .icons,
.menu ul li.active > a .icons {
  fill: var(--on-background);
}

.menu ul li .arrow {
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.menu ul li.active .arrow {
  transform: rotate(180deg);
}

.menu ul li .text {
  flex: 1;
}

.menu .sub-menu {
  display: none;
  margin-left: 1.6rem;
  padding: 0.4rem 0 0 1.6rem;
  border-left: 0.1rem solid var(--fields-border-color);
}

.menu .sub-menu li a {
  padding: 1.2rem 0.8rem;
  font-size: 1.2rem;
}

.menu:not(:last-child) {
  padding-bottom: 1.2rem;
  margin-bottom: 2.4rem;
  border-bottom: 0.1rem solid var(--fields-border-color);
}
